body{
  background-color: #fff;
  color: #222222;
}

.content-container{
  padding-top: 100px;
  position: absolute;
  top:0;
  left: 0;
  right:0;
  bottom:0;
}
.title-section{
  width: 824px;
  padding: 0 40px;
  margin: 20vh auto;
  margin-bottom: 30vh;
  position: relative;
}
.title-info{
  width: 240px;
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  right: -240px;
  top:0;
}

.title-info-client{
  font-weight: 800;
}

.title-info-desc{
  opacity: .8;
}

.content-title{
  font-size: 88px;
  font-family: GothamPro;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 1.1;
}

.content-section{
  width: 824px;
  margin: 0 auto;
  padding: 0 40px;
  padding-top: 160px;
  padding-bottom: 80px;
  position: relative;
}

h2{
  font-size: 48px;
  font-weight: 800;
  letter-spacing: -0.4px;
  line-height: 56px;
  margin-bottom: 32px;
}

.video-section{
  width: 824px;
  margin: 0 auto;
  margin-top:80px;
  padding-bottom: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.phone-section{
  width: 335px;
  margin: 0 20px;
  position: relative;
}
.phone-section video{
  overflow: hidden;
  border-radius: 40px;
  width: 300px;
  height: auto;
}
.phone-section::before{
  content:"";
  width: 420px;
  height: 770px;
  background-repeat:no-repeat;
  background-size: 420px 770px;
  background-image: url('../img/content_heykakao/shadow_portrait.png');
  position: absolute;
  top:-30px;
  left:-40px;
}

.phone-section-desc{
  width: 360px;
}

h3{
font-size: 24px;
font-weight: 800;
letter-spacing: 0;
line-height: 32px;
}

.phone-section-desc h3{
  margin-bottom: 20px;
}

.phone-section h3{
  width: 300px;
  text-align: center;
  margin-top:32px;
  color:#aaa;
}

p{
font-size: 20px;
letter-spacing: 0;
line-height: 32px;
}

img{
  width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: cover;
}

.voice-img img {
  height: 770px;
}

@media screen and (max-width: 1400px) {
  .title-info{
    right: auto;
    top:auto;
    margin-top: 24px;
  }
  .content-title{
    font-size: 56px;
    line-height: 56px;
  }
}